@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.logo {
		@apply 
		text-xl 
		font-semibold 
	}
	.navbarLogin-signup {
		@apply
		font-semibold  
		p-2 
		w-48 
		text-center
	}
	.navbar-login{
		@apply
		hover:border
		hover:border-black
		-m-1
	}
	.navbar-signup{
		@apply
		hover:border
		hover:border-black
		hover:bg-red1
		-m-1
	}

}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(240, 17, 20);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
	border: 1px solid black
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	left: 2rem;
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: rgb(0, 74, 141);
}

.bm-cross:hover{
	background: black;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	right: 50px !important;
	width: 200px !important;
}

/* General sidebar styles */
.bm-menu {
  font-size: 1.15em;
	height: auto !important;
	width: 200px !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	color: black;
	text-align: right;
	padding-right: 3rem;
	height: fit-content !important;
}


/* Individual item */
.bm-item {
  display: inline-block;
	font-weight: bolder
}

.bm-item:hover{
	color: rgb(0, 74, 141);
}


/* Styling of overlay */
.bm-overlay {
	height: 0px !important;
} 