@tailwind base;
@tailwind components;
@tailwind utilities;

/*----------------------------------------------------Base----------------------------------------------------------*/

@layer base {

	body	{
		@apply
		bg-gray-50
	}
}

/*----------------------------------------------------Components-----------------------------------------------------*/
@layer components {

	.logo {
		@apply 
		text-xl 
		font-semibold 
	}
	.navbarLogin-signup {
		@apply
		font-semibold  
		p-2 
		w-48 
		text-center
	}
	.navbar-login{
		@apply
		hover:border
		hover:border-black
		-m-2
	}
	.navbar-signup{
		@apply
		hover:border
		hover:border-black
		hover:bg-red1
		-m-2
	}

	.logout{
		@apply
		hover:border
		hover:border-black
		hover:bg-red1
		-m-2
		font-semibold  
		p-2 
		w-48 
		text-center
		rounded-lg
	}

}

/*--------------------------------------------------Burger Menu-------------------------------------------------------- */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(240, 17, 20);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
	border: 1px solid black
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	top: 0;
	left: 0;
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: rgb(0, 74, 141);
}

.bm-cross:hover{
	background: black;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
	right: 50px !important;
	width: 200px !important;
}

/* General sidebar styles */
.bm-menu {
  font-size: 1.15em;
	height: auto !important;
	width: 200px !important;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	color: black;
	text-align: right;
	padding-right: 3rem;
	height: fit-content !important;
	background: none;
	width: fit-content  !important;
}

/* Individual item */
.bm-item {
	font-weight: bolder;
	width: fit-content
}

.bm-item:hover{
	color: rgb(0, 74, 141);
}

/* Styling of overlay */
.bm-overlay {
	height: 0px !important;
} 